<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>create</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <label for="user">User</label>
        <input type="text" name="user" id="user"><br>
        <label for="amount">Amount</label>
        <input type="number" name="amount" id="amount"><br>
        <label for="category">Category</label><br>
        <select name="category" id="category">
        {% for category in categories %}
            <option value="{{ category.id }}"> {{category.title}} </option>       
        {% endfor %} 
        </select><br>
        <label for="description">Description</label> <br>
        <textarea name="description" id="description"></textarea>
        
        <input type="submit" value="save">
    </form>
</body>
</html>